<div class="bg-slate-50 relative h-full">
  <%= form_for(resource, as: resource_name, url: session_path(resource_name), data: { turbo: false }) do |f| %>
    <div class="bg-white pl-4 py-4">
      <div class="relative z-0 mb-6 w-full group">
        <%= f.email_field :email, autocomplete: "email", placeholder: '', class: "block py-2.5 px-0 w-full text-lg text-primaryDark bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-primaryBlue dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer" %>
        <%= f.label :email, class: "peer-focus:font-medium absolute text-lg text-slate-400 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6" %>
      </div>
      <div class="relative z-0 mb-6 w-full group">
        <%= f.password_field :password, autocomplete: "new-password", placeholder: '', class: "block py-2.5 px-0 w-full text-lg text-primaryDark bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-primaryBlue dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer" %>
        <%= f.label :password, class: "peer-focus:font-medium absolute text-lg text-slate-400 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6" %>
      </div>
    </div>
    <div class="absolute bottom-0 left-4 right-4 border border-gray-300">
      <button type="submit" class="block w-full py-3 text-lg text-white bg-primaryBlue">
        Log in
      </button>
    </div>
  <% end %>
  <div class="text-center text-slate-400 mt-6 text-lg hover:text-slate-500 transition ease-in duration-100">
    <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
      <%= link_to "Forgot your password?", new_password_path(resource_name) %>
    <% end %>
  </div>
</div>