<!--<button type="button">-->
  <%# if user_signed_in? %>
    <%#= link_to "Sign out", destroy_user_session_path, data: {turbo_method: :delete } %>
  <%# else %>
    <%#= link_to "Sign in", new_user_session_path %>
  <%# end %>
<!--</button>-->
<div data-controller="modals" class="absolute top-3 bottom-0 right-0 left-0">
  <div class="h-full relative">
    <div class="h-full flex flex-col gap-3 overflow-y-auto">
      <% @categories.each do |category| %>
        <%= link_to category_path(category) do %>
          <button type=button class="grid grid-cols-12 bg-white drop-shadow mx-4 p-4 gap-x-3">
            <div class="col-span-3">
              <%= image_tag category.icon.attached? ? url_for(category.icon) : "https://via.placeholder.com/150", class: "w-full h-full object-cover rounded-sm" %>
            </div>
            <div class="col-span-6 flex flex-col justify-between pt-2 text-slate-400">
              <h2><%= category.name %></h2>
              <span class="text-xs"><%= category.created_at.strftime("%d/%m/%Y") %></span>
            </div>
            <div class="col-span-3 pt-2 text-right text-gray-900 font-semibold">
              <p>$12.00</p>
            </div>
          </button>
        <% end %>
      <% end %>
    </div>

    <div class="absolute bottom-0 left-0 right-0 p-5 bg-primaryGreen">
      <button type="submit" data-modals-target="openNewCategory" class="block w-full py-3 text-white border border-gray-300 uppercase">
        Add new category
      </button>
    </div>
  </div>
  <%= render 'shared/overlay' %>
</div>
<%= render 'categories/modals/new_category'%>

