<!DOCTYPE html>
<html>
  <head>
    <title>BudgetApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="bg-slate-50 md:h-screen md:py-3 md:bg-slate-100 md:flex justify-center items-center">
    <main class="h-screen md:h-full relative md:w-1/3">
      <% if include_navbar? %>
        <%= render 'shared/navbar' %>
        <%= render 'shared/menu' %>
      <% end %>

      <%= render 'shared/messages' %>
      <%= yield %>
    </main>
  </body>
</html>
